.back-to-top {
  position: fixed;
  bottom: -60px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, bottom 0.3s;
}

.back-to-top:hover {
  background-color: #0056b3;
}

svg {
}

.btn {
  font-size: 1vw;
  overflow: visible;
}

.text-nowrap {
}

#promo-codes {
  position: relative;
  left: 0;
  transition: left 1s ease-in-out;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*white-space: nowrap;*/
  /*animation: swipe 5s linear infinite;*/
}

a {
}

:root {
  --bs-emphasis-color: #fff;
}

@media (min-width: 992px) {
  #navcol-3 {
  }
}

@media (min-width: 992px) {
  .nav-item {
  }
}

@media (min-width: 992px) {
  form {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  form {
    width: 600px;
  }
}

@media (min-width: 1400px) {
  form {
    width: 750px;
  }
}

@media (min-width: 1920px) {
  .navbar-nav {
    padding-left: 265px;
  }
}

.navbar {
}

body {
  background: var(--bs-emphasis-color);
}

#dashboard- {
  /*background-color: white;*/
  /*color: black;*/
}

.circle-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
}

#data-tables-products {
  --bs-body-bg: white;
  /*--bs-body-color: ##2d2d2d;*/
  /*--bs-table-color-state: black;*/
  /*--bs-table-color: black !important;*/
  --bs-emphasis-color: #000;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
}

